body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.landing-cover {
    display: grid;
    background-size: cover;
    min-height: 275px;
    color: black;
    font-size: 35px;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    align-self: end;
    text-align: center;
}

/* @media screen and (min-width: 800px) {} */

.name {
    margin-bottom: 5px;
}

.cover-card {
    font-weight: 800;
}

.page-content {
    text-align: left;
    padding: 0% 25%;
    background-color: rgb(255, 255, 255);
    color: black;
}

.page-content h2 {
    font-size: 25px;
    margin-top: 40px;
}

.page-content p {
    font-weight: 500;
    font-size: 19px;
}

.site-footer {
    margin-top: 50px;
    padding: 25px;
    min-height: 125px;
    background: black;
    color: white;
    position: relative;
}

.foot-wrapper {
    gap: 100px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: lime;
}

.footer-heading {
    font-size: 17px;
}

.footer-heading a {
    text-decoration: inherit;
    color: inherit;
}

.footer-text {
    font-size: 12px;
}